* {
  z-index: 10000;
}

header, header .container {
  width: 100%;
  height: var(--header-height);
  background: var(--nav) !important;
}

header {
  position: absolute;
  -webkit-box-shadow: 0px 0px 9px 1px #000000;
  box-shadow: 0px 0px 9px 1px #000000;
}

header .container {
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.logo {
  width: auto;
  height: calc(var(--header-height) - 20px);
  border-radius: 100%;
}

.title {
  font-family: 'Maven Pro', sans-serif;
  font-size: clamp(0.3rem, 8vw, 2rem);
  margin: auto;
  color: white;
}
