#stars1, #stars1::after {
  width: 1px;
  height: 1px;
}

#stars1 {
  box-shadow: 270px 405px var(--stars),
 258px 1026px var(--stars),
 228px 1953px var(--stars) ,
 1230px 529px var(--stars) ,
 1383px 1277px var(--stars) ,
 77px 790px var(--stars) ,
 671px 1958px var(--stars) ,
 1728px 213px var(--stars) ,
 1169px 999px var(--stars) ,
 1466px 902px var(--stars) ,
 212px 31px var(--stars) ,
 480px 857px var(--stars) ,
 1621px 1137px var(--stars) ,
 891px 1382px var(--stars) ,
 1148px 439px var(--stars) ,
 1694px 1026px var(--stars) ,
 977px 628px var(--stars) ,
 244px 1617px var(--stars) ,
 1936px 1835px var(--stars) ,
 1828px 785px var(--stars) ,
 1908px 1119px var(--stars) ,
 1031px 1355px var(--stars) ,
 665px 1049px var(--stars) ,
 25px 1070px var(--stars) ,
 600px 795px var(--stars) ,
 395px 329px var(--stars) ,
 520px 1649px var(--stars) ,
 676px 550px var(--stars) ,
 1833px 158px var(--stars) ,
 475px 1082px var(--stars) ,
 1175px 1599px var(--stars) ,
 477px 1999px var(--stars) ,
 338px 574px var(--stars) ,
 902px 830px var(--stars) ,
 1622px 865px var(--stars) ,
 1722px 546px var(--stars) ,
 1550px 748px var(--stars) ,
 462px 1770px var(--stars) ,
 930px 938px var(--stars) ,
 1149px 1304px var(--stars) ,
 351px 997px var(--stars) ,
 754px 109px var(--stars) ,
 1474px 1922px var(--stars) ,
 1807px 1664px var(--stars) ,
 31px 405px var(--stars) ,
 1319px 1167px var(--stars) ,
 735px 706px var(--stars) ,
 1587px 1054px var(--stars) ,
 509px 981px var(--stars) ,
 1896px 1083px var(--stars) ,
 1238px 398px var(--stars) ,
 80px 1349px var(--stars) ,
 542px 1203px var(--stars) ,
 1475px 557px var(--stars) ,
 1209px 1695px var(--stars) ,
 1074px 505px var(--stars) ,
 840px 1787px var(--stars) ,
 526px 1212px var(--stars) ,
 458px 619px var(--stars) ,
 532px 278px var(--stars) ,
 1839px 394px var(--stars) ,
 1856px 925px var(--stars) ,
 1637px 61px var(--stars) ,
 1827px 657px var(--stars) ,
 316px 14px var(--stars) ,
 164px 1428px var(--stars) ,
 1948px 1476px var(--stars) ,
 1726px 520px var(--stars) ,
 1927px 1936px var(--stars) ,
 349px 418px var(--stars) ,
 762px 25px var(--stars) ,
 1390px 1639px var(--stars) ,
 534px 1804px var(--stars) ,
 934px 315px var(--stars) ,
 1473px 794px var(--stars) ,
 1025px 1753px var(--stars) ,
 1390px 1653px var(--stars) ,
 332px 802px var(--stars) ,
 1556px 236px var(--stars) ,
 1525px 1388px var(--stars) ,
 665px 40px var(--stars) ,
 1270px 1566px var(--stars) ,
 1464px 814px var(--stars) ,
 1112px 1311px var(--stars) ,
 1915px 365px var(--stars) ,
 273px 510px var(--stars) ,
 423px 1480px var(--stars) ,
 922px 797px var(--stars) ,
 1124px 92px var(--stars) ,
 1071px 668px var(--stars) ,
 416px 966px var(--stars) ,
 718px 429px var(--stars) ,
 443px 634px var(--stars) ,
 249px 476px var(--stars) ,
 1920px 1695px var(--stars) ,
 441px 1596px var(--stars) ,
 918px 1305px var(--stars);
  animation-duration: 50s;
}

