.stars{
  background: transparent;
  animation-name: animStar;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.stars::after{
  content: " ";
  position: absolute;
  top: 2000px;
  background: transparent;
}
