.content {
  font-family: 'Maven Pro', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20vh auto;
  grid-template-areas:
    "tools"
    "listing";
  max-width: 1024px;
  margin: auto;
}

.tools {
  background: var(--main-2);
  grid-area: tools;
  max-height: 1024px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 10px 22px -15px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 10px 22px -15px rgba(0, 0, 0, 1);
  box-shadow: 0px 10px 22px -15px rgba(0, 0, 0, 1);
  width: 100%;
}

.counter{
  color: var(--font2);
  font-weight: bold;
  padding: 0 0 10px 10px;
  letter-spacing: 1px;
  text-align: center;
}

.listing {
  grid-area: listing;
  max-height: 1524px;
  overflow-y: scroll;
}

@media (min-width: 1024px) {
  .content {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 40vh 40vh 20vh;
    grid-template-areas:
    "tools listing"
    "tools listing"
    ". listing";
  }

  .tools {
    margin: 20px 0 0 10px;
    border-radius: 20px;
    padding: 20px 0;
    border: 2px solid var(--additional);
  }

  .listing {
    margin: 20px 0;
  }
}
