<div class="content">
  <div class="tools">
    <div class="counter">Available articles: {{articlesCount | async}}</div>
    <app-custom-button [customClass]="'refreshButton'" [icon]="faDownload" [text]="'newest articles'"
                       (callback)="refreshListOfArticles()"></app-custom-button>
    <app-custom-button [customClass]="'favoriteButton'"  [icon]="faHeart" [text]="'favorites'"
                       (callback)="showFavoritesArticles()"></app-custom-button>

    <app-tools></app-tools>

  </div>
  <app-loader class="listing" *ngIf="!(isContentReadyToShow | async)"></app-loader>
  <ng-container *ngIf="articles | async as articles">
    <div class="listing" *ngIf="(isContentReadyToShow | async)">
      <app-article-card
        *ngFor="let article of articles"
        [article]="article"
      >
      </app-article-card>
    </div>
  </ng-container>
</div>



