<form [formGroup]="this.filterService.searchForm" [ngClass]="{'hiddenForm': isPanelHidden && isMobile}">
  <div class="counter">Available articles: {{articlesCount | async}}</div>
  <app-custom-button [customClasses]="['refreshButton']" [icon]="icons.download" [text]="'newest articles'"
                     (callback)="getArticles(false)"></app-custom-button>
  <app-custom-button [isDisabled]="!hasFavorites()" [customClasses]="[hasFavorites()?'favoriteButton':'noFavorites']" [icon]="icons.heart" [text]="'favorites'"
                     (callback)="getArticles(true)"></app-custom-button>

  <div class="control">
    <label for="numberOfResults">Articles on site:</label>
    <input
      type="range"
      id="numberOfResults"
      formControlName="numberOfResults"
      (change)="updateFiltersStateAndGetArticles()"
      min="5"
      max="50"
      value="10"
      step="5"
    >
    <div>{{this.filterService.searchForm.value.numberOfResults}}</div>
  </div>

  <label>Sort:</label>
  <div class="control" (change)="updateFiltersStateAndGetArticles()">
    <div class="orderType">
      <div class="radioWrapper" [ngClass]="{'selected':this.filterService.searchForm.value.order==='DESC'}">
        <label for="DESC">
          <fa-icon [icon]="icons.sortDESC" size="2x"></fa-icon>
          <input type="radio" name="order" id="DESC" value="DESC" formControlName="order">
        </label>
      </div>
      <div class="radioWrapper" [ngClass]="{'selected':this.filterService.searchForm.value.order==='ASC'}">
        <label for="ASC">
          <fa-icon [icon]="icons.sortASC" size="2x"></fa-icon>
          <input type="radio" name="order" id="ASC" value="ASC" formControlName="order">
        </label>
      </div>
    </div>

    <div class="orderBy">
      <div class="radioWrapper" [ngClass]="{'selected':this.filterService.searchForm.value.sortBy==='publishedAt'}">
        <label for="publishedAt">
          <span>Date</span>
          <input type="radio" id="publishedAt" name="sortBy" value="publishedAt" formControlName="sortBy">
        </label>
      </div>
      <div class="radioWrapper" [ngClass]="{'selected':this.filterService.searchForm.value.sortBy==='title'}">
        <label for="title">
          <span>Title</span>
          <input type="radio" id="title" name="sortBy" value="title" formControlName="sortBy">
        </label>
      </div>
      <div class="radioWrapper" [ngClass]="{'selected':this.filterService.searchForm.value.sortBy==='newsSite'}">
        <label for="newsSite">
          <span>News Site</span>
          <input type="radio" id="newsSite" name="sortBy" value="newsSite" formControlName="sortBy">
        </label>
      </div>
    </div>
  </div>

  <label>Page:</label>
  <div class="control page" (click)="updateFiltersStateAndGetArticles(false)">
    <fa-icon [icon]="icons.caretLeft" size="4x" (click)="decrementPage()"></fa-icon>
    <input type="number" name="page" id="page" formControlName="page" [attr.disabled]="true">
    <fa-icon [icon]="icons.caretRight" size="4x" (click)="incrementPage(hasArticles())" [ngClass]="!hasArticles()?'noArticles':''"></fa-icon>
  </div>

  <app-custom-button [icon]="icons.undo" text="Reset" (callback)="reset()">
  </app-custom-button>
  <div class="hideForm" [ngClass]="{'rotatedChevron':isPanelHidden}" (click)="togglePanelVisibility()">
    <fa-icon [icon]="icons.chevronUp" size="2x"></fa-icon>
  </div>
</form>

<form class="mobileForm" [ngClass]="{'stickyToBottom':isPanelHidden && isMobile}"
      [formGroup]="this.filterService.searchForm">
  <div class="control page" (click)="updateFiltersStateAndGetArticles(false)">
    <fa-icon [icon]="icons.caretLeft" size="4x" (click)="decrementPage()"></fa-icon>
    <input type="number" name="page" formControlName="page" [attr.disabled]="true">
    <fa-icon [icon]="icons.caretRight" size="4x" (click)="incrementPage(hasArticles())" [ngClass]="!hasArticles()?'noArticles':''"></fa-icon>
  </div>
</form>
