form {
  color: var(--font);
  background: var(--main);
  position: relative;
  transition-duration: 0.4s;
  z-index: 100;
}

.hiddenForm {
  /*position: static;*/
  transform: translateY(-100%);
}

.counter {
  color: var(--font2);
  font-weight: bold;
  padding: 0 0 10px 10px;
  letter-spacing: 1px;
  text-align: center;
}

.control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.control > div[class^=order] {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.orderType {
  flex-grow: 1;
}

.orderBy {
  flex-grow: 2;
}

.page {
  justify-content: center;
}

.page > input {
  font-size: 2rem;
  text-align: center;
  border: none;
  background: transparent;
  color: var(--font2);
  max-width: 110px;
  height: 50px;
  /*margin: 0 30px;*/
  padding: 0 10px;
  outline: none;
  user-select: none;
}

div.page > *:not(input) {
  cursor: pointer;
  padding: 5px 10px 5px 20px;
  width: 100%;
  text-align: center;
  background: var(--additional);
  transition-duration: 0.4s;
}

.radioWrapper, .radioWrapper *, input[type=range] {
  cursor: pointer;
}

.radioWrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: max-content;
  padding: 10px;
  transition-duration: 0.4s;
}


.radioWrapper:hover, div.page > *:not(input):hover {
  background: var(--font2);
  color: var(--additional);
}


input[type="radio"] {
  display: none;
}

.selected {
  background: var(--additional);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.hideForm {
  width: 100%;
  padding: 10px;
  background: var(--additional);
  color: var(--font2);
  border: 1px solid var(--additional);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 1ms;
  transform: translateY(0);
}

.hideForm > * {
  transition-duration: 0.3s;
}

.rotatedChevron > * {
  transform: rotate(180deg);
}

.rotatedChevron {
  transition-delay: 0.5s;
  transition-duration: 0.7s;
  transform: translateY(calc(100% - 10px));
}

.mobileForm {
  position: fixed;
  width: 100%;
  bottom: -100%;
}

.stickyToBottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid var(--additional);
  background: var(--main);
}

@media (min-width: 1024px) {
  .control {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
  }

  .hideForm {
    display: none;
  }
}

