.article{
  width: 100%;
  max-width: 900px;
  margin: auto;
  font-family: 'Maven Pro', sans-serif;
  letter-spacing: 1px;
}

.container .imgBar{
  position: absolute;
  width: 100%;
  padding: 10px 10px 40px 10px;
  color: #fff;
  /*  TODO:COLOR*/
  background: rgba(0, 0, 0, 0.24);
  background: linear-gradient(180deg, rgba(0,0,0,0.8) 10%, rgba(0,0,0,0) 100%);
  letter-spacing: 2px;
  font-size: clamp(1rem, 2vw ,2rem);
}

.article .container{
  position: relative;
}

.article .container img{
  width: 100%;
}

.title{
  font-size: clamp(1rem, 5vw, 2rem);
  text-align: justify;
  color: var(--font2);
}

.summary{
  font-size: clamp(0.7rem, 3vw, 1rem);
  text-align: justify;
  line-height: 1.3rem;
  margin: 20px 0;
  color: var(--font);
}

.buttonWrapper{
  width: 100%;
  max-width: 400px;
  /*border: 1px solid #000;*/
}
