<app-loader *ngIf="!article && !isContentReadyToShow"></app-loader>

<div class="article" *ngIf="article && isContentReadyToShow">

  <div class="buttonWrapper">
    <a routerLink="/articles">
      <app-custom-button customClass="casualButton" [icon]="faCaretRight" >
        <span>Back to: <span class="specialText">articles</span></span>
      </app-custom-button>
    </a>
  </div>

  <div class="container">
    <div class="imgBar">
      <div>
        {{date.getFullYear()}}
        {{date.toLocaleString('en-EN', {month: 'long'}).toUpperCase()}}
        {{date.toLocaleString('en-EN', {day: '2-digit'})}}
      </div>
      <div>
        {{date.getHours()}}:{{date.getMinutes()<10? '0'+date.getMinutes() : date.getMinutes()}}
      </div>
    </div>
    <img src="{{article.imageUrl}}" alt="image">
    <app-favorite-article-toggler [articleId]="article.id"></app-favorite-article-toggler>
  </div>

  <div class="title">{{article.title}}</div>

  <div class="summary">{{article.summary}}</div>

  <div class="buttonWrapper">
    <a href="{{article.url}}">
      <app-custom-button customClass="casualButton" [icon]="faCaretRight" >
        <span>Read more at: <span class="specialText">{{article.newsSite}}</span></span>
      </app-custom-button>
    </a>
  </div>
</div>

