<div class="card">
  <div class="container">
    <img src="{{article.imageUrl}}" loading="lazy" alt="image" [routerLink]="['/articles',article.id]">
    <app-favorite-article-toggler [articleId]="article.id"></app-favorite-article-toggler>
    <div class="newsSite" [routerLink]="['/articles',article.id]">{{article.newsSite}}</div>
  </div>
  <div class="bottom" [routerLink]="['/articles',article.id]">
    <div class="date">
      {{date.getFullYear()}}
      {{date.toLocaleString('en-EN', {month: 'short'}).toUpperCase()}}
      {{date.toLocaleString('en-EN', {day: '2-digit'})}}
    </div>
    <div class="title">{{article.title}}</div>
  </div>
</div>

