<div class="card">
  <div class="container">
    <img src="{{article.imageUrl}}" alt="image">
    <div class="toggleFavorite">
      Add/remove
    </div>
    <div class="newsSite">{{article.newsSite}}</div>
  </div>
  <div class="date">
    {{date.getFullYear()}}
    {{date.toLocaleString('en-EN', {month: 'short'}).toUpperCase()}}
    {{date.toLocaleString('en-EN', {day: '2-digit'})}}
  </div>

  <div class="title">{{article.title}}</div>
  <p class="summary">{{article.summary}}</p>


  <!--  <p>{{article.id}}</p>-->
  <!--  <p>{{article.url}}</p>-->
  <!--  <p>{{article.featured}}</p>-->
  <!--  <h4>launches:</h4>-->
  <!--  <div *ngFor="let launch of article.launches">-->
  <!--    <p>{{launch.id}} - {{launch.provider}}</p>-->
  <!--  </div>-->
  <!--  <h4>events:</h4>-->
  <!--  <div *ngFor="let event of article.events">-->
  <!--    <p>{{event.id}} - {{event.provider}}</p>-->
  <!--  </div>-->
</div>
