/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html[data-theme='light'] {
  --header-bg: #007bff;
  --switch-color: #180808;
}

html[data-theme='dark'] {
  --header-bg: #013672;
  --switch-color: #f6f6f6;
}
