div {
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  font-size: clamp(0.7rem, 3vw, 1rem);
  letter-spacing: 2px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  margin: 0 0 5px 0;
  transition-duration: 0.3s;
  background: var(--additional);
  cursor: pointer;
  background: var(--main-3);
}

div:hover{
  padding-right: 20px;
  background: var(--additional);
}
