<div class="animationWrapper">

  <!--  PLANET-->
  <div class="planet">
    <div class="wrap">
      <div class="background"></div>
      <div class="clouds"></div>
    </div>
    <div class="mask"></div>
  </div>
  <!--  OBJECTS-->
  <img id="rocket1" class="rockets objects" src="./assets/icons/rocket1.svg" alt="rocket">
  <img id="rocket2" class="rockets objects" src="./assets/icons/rocket2.svg" alt="rocket">
  <img id="rocket3" class="rockets objects" src="./assets/icons/rocket2.svg" alt="rocket">
  <img id="rocket4" class="rockets objects" src="./assets/icons/rocket2.svg" alt="rocket">
  <img id="ufo1" class="ufo objects" src="./assets/icons/ufo.svg" alt="ufo">
  <img id="ufo2" class="ufo objects" src="./assets/icons/ufo.svg" alt="ufo">
  <img id="ufo3" class="ufo objects" src="./assets/icons/ufo.svg" alt="ufo">
  <img id="sat1" class="sat objects" src="./assets/icons/sat1.svg" alt="ufo">
  <img id="sat2" class="sat objects" src="./assets/icons/sat2.svg" alt="ufo">

  <!--  PARALLAX-->
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>


</div>

