.animationWrapper {
  width: 100vw;
  height: 80vh;
  position: relative;
  overflow: hidden;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
